<html>
    <head>
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The New Yelp</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <script type="text/javascript" src="../scripts/main.js"></script>
    </head>

    <body>
        <div id="header">
            <nav>
                <ul id="nav">
                    <li>
                        {{#if picture}}
                        <a href={{lin}} id="person"><img src="{{picture}}" width="30px" height="30px"></a>
                        {{else}}
                        <a href={{lin}} id="person">LOGIN</a>
                        {{/if}}
                        
                    </li>
                    <li id="title">
                        THE NEW YELP
                    </li>
                    <li>
                        <form>
                            <input type="text" placeholder="Search" id="searchbar">
                            <input type="button" value="Search" onclick="search()">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="posts">

            <div id ="stores">
                <div id="storedetails">
                    <div class ="store">
                        <button class="storename">JOLLIBEE</button>
                        <ul class="storerating">
                            <li class="rating">Rating: {{r1}}</li>
                            <li class="star"></li>
                        </ul>
                        <div class="description" hidden="true">
                            <p> JOLLIBEE is a fast food restaurant located in Taft Avenue. Jollibee is a Filipino chain of 
                                fast food restaurants owned by Jollibee Foods Corporation. As of December 2021, JFC had a 
                                total of about 1,500 Jollibee outlets worldwide, with restaurants in Southeast Asia, the Middle 
                                East, East Asia, North America, and Europe.</p>
                        </div>
                    </div>
                    <div class ="store">
                        <button class="storename">MCDO</button>
                        <ul class="storerating">
                            <li class="rating">Rating: {{r2}}</li>
                            <li class="star"></li>
                        </ul>
                        <div class="description" hidden="true">
                            <p> MCDO is a fast food restaurant located in Taft Avenue. McDonald's Corporation is an American 
                                multinational fast food chain, founded in 1940 as a restaurant operated by Richard and Maurice 
                                McDonald, in San Bernardino, California, United States.</p>
                        </div>
                    </div>
                    <div class ="store"> 
                        <button class="storename">KFC</button>
                        <ul class="storerating">
                            <li class="rating">Rating: {{r3}}</li>
                            <li class="star"></li>
                        </ul>
                        <div class="description" hidden="true">
                            <p> KFC is a fast food restaurant located in Taft Avenue. KFC is an American fast food restaurant 
                                chain headquartered in Louisville, Kentucky, that specializes in fried chicken. It is the 
                                world's second-largest restaurant chain after McDonald's, with 22,621 locations globally 
                                in 150 countries as of December 2019. The chain is a subsidiary of Yum!</p>
                        </div>
                    </div>
                    <div class ="store"> 
                        <button class="storename">ATE RICA'S BACSILOG</button>
                        <ul class="storerating">
                            <li class="rating">Rating: {{r4}}</li>
                            <li class="star"></li>
                        </ul>
                        <div class="description" hidden="true">
                            <p> ATE RICA's is a silog restaurant located in Agno. 
                                The home of the 1st and Original Bacsilog with over 180 branches nationwide.
                            </p>
                        </div>
                    </div>
                    <div class ="store"> 
                        <button class="storename">CANTEEN</button>
                        <ul class="storerating">
                            <li class="rating">Rating: {{r5}}</li>
                            <li class="star"></li>
                        </ul>
                        <div class="description" hidden="true">
                            <p> DLSU Canteen is a canteen located inside Razon Building.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
